html 
    head 
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css")
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
        script(src='/main.js',type="text/javascript")

    body 
        .container
            #header
                nav.navbar.navbar-expand-lg.navbar-light.bg-light
                    div.container-fluid
                        div.collapse.navbar-collapse
                            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                                li.nav-item
                                    a.nav-link.active(aria-current='page' href='/') Home 
                                li.nav-item
                                    a.nav-link(href='/todo') Todo
                                if session
                                    li.nav-item
                                        a.nav-link(href='/logout') Logout
                                else
                                    li.nav-item
                                        a.nav-link(href='/login') Login
        .container.pt-5
            block content