<div class="mt-4">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-dark">Mua ngay</button>
        </div>
        <div class="col-md-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt a veniam, soluta nemo, vel ea debitis esse saepe molestiae minima unde tenetur blanditiis perspiciatis accusantium quo voluptatem est laudantium dolore? Accusantium enim earum necessitatibus nobis assumenda architecto nesciunt ab velit eius quia nam odit dignissimos natus ut inventore incidunt, nulla esse alias quis, exercitationem tempore aliquam hic. Rerum officia non enim laudantium in fugiat dolorem. Aliquam eius delectus magnam. Laborum fugit soluta aliquid doloremque officiis hic, ut molestias earum perspiciatis repellendus commodi est blanditiis corrupti accusamus error quia sunt voluptate! Reprehenderit, alias nemo. Assumenda laborum nesciunt aperiam, tempora sed sunt.</p>
        </div>
    </div>
</div>